@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2f4f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #006fba;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #006fba;
}